/* Estilos generales */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #02352a;
  color: #fff;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  gap: 60px;
}

/* Sección central */
.central-section {
  flex: 1;
  max-width: 900px;
  background-color: #fff;
  color: #000;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 30px; 
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);

  margin: 0 auto;
}

.top-link {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  gap: 10px;
}

input, select {
  flex: 1;
  padding: 10px;
  border: 1px solid #00a884;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #00a890;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #00a884;
  color: #000;
}

.privacy-text {
  font-size: 0.8rem;
  color: #555;
  text-align: justify;
}

.privacy-text a {
  color: #007b66;
  text-decoration: none;
}

/* Responsividad */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 30px;
  }
}

h1{
    text-align: center;
    color: #149683;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
}

/* PARA LA PÁGINA DE SELECCIONAR PRODUCTO*/
.top-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  max-width: 1150px;
  margin: 0 auto;

  background-color: #fff;
  color: #000;

  border-radius: 8px;
  padding: 30px 25px 30px 25px; /* Ajuste de padding para incluir espacio a la izquierda */
}

.logo-small {
    display: block;
    max-width: 80px;         /* Más pequeño que los 150px originales */
    height: auto;
    margin: 0;            /* Menos margen que el original */
  }

/* Estilos para la barra de búsqueda */
.search-container {
    display: flex;
    flex: 1;
    align-items: center;
    
    max-width: 600px;
    margin: 0 auto;
    height: auto;
}

.search-bar {
    width: 100%;
    padding: 12px;
    border: 2px solid #00a884;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
    outline: none;
}

.search-button {
    background-color: #00a884;
    border: 2px solid #00a884;
    border-radius: 0 25px 25px 0;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.search-button:hover {
    background-color: #008f6f;
    border-color: #008f6f;
}

.caja{
  border: solid 2px black;
  margin: 10px;
  width: 120px;
  height: 120px;

  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.flex-container{
  display: flex;
  flex-wrap: wrap;          /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: center;
  align-items: flex-start;  /*Alinea todas las cajas arriba en cada fila*/
  gap: 20px;                /* Espacio entre las cajas */
  padding: 20px;
  max-width: 1150px;
  margin: 0 auto;           /* Centra el contenedor en la página */
}

.caja-img {
  width: 100%;          /* que ocupe todo el ancho de la caja */
  height: 100%;         /* que ocupe toda la altura */
  object-fit: cover;    /* recorta la imagen sin deformarla */
  border-radius: 5px;   /* opcional: esquinas redondeadas */
}

.texto-img {
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
  margin-top: 5px;       /* Espacio entre la imagen y el texto */
  position: static; /* Posiciona el texto sobre la imagen */
  bottom: 5px; /* Ajusta la posición desde la parte inferior */
  width: 100%; /* Asegura que el texto ocupe todo el ancho de la caja */
}

.titulo-categoria {
  width: 100%;                /* Hace que ocupe toda la fila */
  text-align: left;           /* Alinea el texto a la izquierda */
  color: #fff;
  font-size: 1.5rem;
  margin: 10px;        /* Espacio arriba y abajo */
}

.player-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

#play-pause {
  font-size: 24px;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0;
  background: #007bff;
  border-radius: 5px;
}   